* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	width: 100%;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin: 0 0 50px; /* bottom = footer height */
	color:#777777;
	background:#ffffff;
	border-color: #dddddd; 
}

.other-fonts{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
}
/* Header and Navigation **********************/
#top {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	border-color: #cccccc;	
	margin: auto;
}
#name {
	float: left;
	margin-left: 250px;
	height: 60px;
	width: 200px;
	display: inline;
	text-align: center;
	background-color: #62d6e2;
	text-decoration: none;
}
#tat {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 800;
	color: #ffffff;
	
}

a {
	text-decoration: none;
}
#tat:hover {
	color: #777777;

}

nav {
	float: right;
	margin-right: 200px;
}

#navigation {
	padding: 20px 0px 0px 0px;	
}

li {
	display: inline;
}
.li-color{
	color: #f2f2f2;
}

.li-left {
	padding-left: 15px;
}

#navi a{
	
	padding-right: 20px;
	color: #777777;
}

#navi a:hover { 
	color: #333333; 
}
/* Main Container **********************/
.main-container{
	width:100%;
	background-color: #e7e4e4;
	align-self: center;
	margin: auto;
	padding: 20px 200px 30px 200px;
	display: inline-block;
	border-top: 2px solid #cccccc;	
}
.submain-container {
	width:68%;
	background-color: #ffffff;
	align-self: center;
	margin: auto;
	margin-top: 10px;
	float:left;
}
.submain-container-title {
	font-size: 20px;
	font-weight: 800;
	color:#62d6e2;
	padding: 20px 0px 10px 40px;
}
.hr-main {
	width: 93%;
	border: 2px solid #e7e4e4;
	margin: 10px 0px 20px 20px;
}

.submain-container-text {
	padding: 20px 40px 40px 20px;
	text-align: justify;
	line-height: 1.5;

}
.submain-container-image {
    float: left;
    margin: 0px 20px 15px 10px;
}
.submain-port-container-image {
    float: left;
    margin: 0px 20px 15px 10px;
}
.aside-container-image:hover {
	
}
/* Right container ******************/
aside{

}
.aside-container {
	width:28%;
	background-color: #ffffff;
	margin: auto;
	margin-top: 10px;
	float:right;
	padding: 20px;
	margin-right: 10px;	
}
.aside-container-title {
	font-weight: 800;
	color:#62d6e2;
	padding: 10px 0px 5px 20px;
}
.hr-aside {
	width: 97%;
	border: 1px solid #e7e4e4;
	margin: 10px 0px 30px 0px;
}
.aside_container-images {
	display: inline;
	margin-left: 15px;
}
.aside-container-image {
	padding: 5px 0px 5px 10px;
}
.aside-container-image {
	width: 30%;
}


/* Footer **************************/    
footer{
	background-color: #666666;
	height: 50px;
	width: 100%;
	text-align: center;	
	position: absolute;
}
.hr-bottom {
	margin: -5px 0px 0px 0px;
	width: 100%;
	border-top: 3px solid #62d6e2;
}
#copywrite {
	padding: 20px 0px 20px 0px;
	font-size: 9px;
	color: #d9d9d9;
}
#ffont{
	color: #777777;

}
.clear {
	clear: both;
}

/* Contact page **********************/
.form-style {
  overflow: hidden;
  width: 68%;
  margin: auto;

}
.form-fieldset-style label, .form-fieldset-style input{
	display: inline-block;
	width: 100%;
	margin: 10px 0px 10px 10px;
}

.form-fieldset-style input, .form-fieldset-style textarea{
	display: inline-block;
	width: 95%;
	margin: 10px 0px 30px 10px;
	line-height: 3;
}
.other-fonts label {
	font-size: 16px;
	font-weight: 700;
}
.form-submit-btn {
    background-color: #62d6e2;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
}
button:hover {
	background-color: #777777;
}

/* Portfolio **********************/
.row {
	padding:10px 0px 0px 70px;
  	position:relative;
  	float:left;
  	clear:none;
  	overflow:hidden;
}
.row img {
	position:relative;
	z-index:1;	
}
.image-style {

}
.image-captions {
	display:block;
	position:absolute;
	top:65%;
	width: 200px;
	z-index:2;
	margin-left:10px;
	padding: 10px 10px 10px 10px;
	background-color: #62d6e2;
	text-align: center;
	color: #ffffff;
}
.image-captions:hover{
	color: #777777;	
}
/****************************************** media query**********************/
@media screen and (max-width: 980px) {
	#top {
		width: 100%;
	}
	#name {
		margin-left: 200px;
	}	
	.submain-container {
		width:60%;
		padding-bottom: 10px;
	}
	.submain-container-image {
	    float: none;
	    margin: auto;
	    align-self: center;
	    width: 100%;
	}
	.submain-port-container-image {
	    float: none;
	    margin: auto;
	    align-self: center;
	    width: 100%;
	}
	.submain-container-text {
		padding: 20px 20px 40px 20px;
		text-align: justify;
		line-height: 1.5;

	}
	.aside-container {
		width:28%;
		background-color: #ffffff;
		margin: auto;
		margin-top: 10px;
		float:right;
		padding: 20px;
		margin-right: 10px;	
	}
	.aside-container-title {
		font-size: 12px;
		padding: 0px;
	}

	.aside_container-images{
		display: initial;
		margin-left: 0px;
	}
	.aside-container-image {
		width: 30%;
	}
/* Portfolio page **********************/
	.image-captions {
		width: 100%;
		margin-left:0px;
		text-align: left;
	}
/* Contact page **********************/
	.hr-main {
		margin: auto
	}
	.form-style {
	  width: 100%;
	}
	.form-fieldset-style {
		width: 95%;
		margin-left: 10px;
	}
}
/****************************************** media query**********************/
@media screen and (max-width: 768px) {

	#top {
		width: 100%;
	}
	#name {
		margin-left: 200px;
	}	
	nav {
		margin-right: 0px;
	}
	.main-container{
		padding: 20px 100px 30px 100px;
	}
	.submain-container {
		width:100%;
		padding-bottom: 10px;
		float: none;
	}
	.submain-container-image {
	    float: left;
	    padding-right: 10px;
	    width: 50%;
	}
	.aside-container {
		width: 100%;
		background-color: #ffffff;
		margin-top: 20px;
		padding: 20px;
		margin-right: 0px;	
		float: none;
	}
	.aside-container-title {
		font-size: 12px;
		padding: 0px;
	}

	.aside_container-images{
		display: initial;
		margin-left: 0px;
	}
	.aside-container-image {
		width: 10%;

	}
/* Portfolio page **********************/
	.row {
		margin-top: 0px;
		padding: 0px;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		display: inline-block;
	}
	.submain-port-container-image {
	    float: none;
	    margin: auto;
	    align-self: center;
	    padding: 20px;
	}

	.image-captions {
		top: 65%;
		width: 83.5%;
		margin-left: 20px;
	}
/* Contact page **********************/
	.hr-main {
		margin: auto
	}
	.form-fieldset-style {
		width: 94%;
		margin-left: 10px;
	}
}
/****************************************** media query**********************/
@media screen and (max-width: 640px) {
	#top {
		width: 100%;
	}
	#name {
		width: 100%;
		margin-left: 0px;
	}	
	#navi {
		padding:20px;
		margin-right:150px;
	}
	.submain-container {
		width:350px;
		padding-bottom: 10px;
	}
	.submain-container-text {
    	padding: 20px 20px 40px 20px;
    }
	.submain-container-image {
	    float: none;
	    margin: auto;
	    align-self: center;
	    width: 100%;
	}
	.aside-container {
		width: 86%;
		margin-right: 7%;

	}
/* Portfolio page **********************/
	.row {
		width: 100%;
		margin-top: 0px;
		padding: 0px;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		display: inline;
	}
	.submain-port-container-image {
	    float: none;
	    margin: auto;
	    align-self: center;
	    padding: 20px;
	    width:100%;
	}

	.image-captions {
		top: -250%
		width: 100%;
		margin: auto;
		text-align: center;
	}	

/* Contact page **********************/	
	.form-fieldset-style {
    	width: 95%;
	}
}